name: Telco Churn CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dvc[s3]

      # Configuración del remoto DagsHub con secretos
      - name: Configure DVC remote for DagsHub
        run: |
          dvc remote add -f dagshub s3://Telco_Churn_ML_Pipeline/dvc
          dvc remote modify dagshub endpointurl https://dagshub.com/api/v1/repo-buckets/s3/fernandezelias
          dvc remote modify dagshub access_key_id ${{ secrets.DAGSHUB_USER }}
          dvc remote modify dagshub secret_access_key ${{ secrets.DAGSHUB_TOKEN }}
          dvc remote modify dagshub region us-east-1

      - name: Check DVC installation
        run: dvc --version

      # Recuperar datos del remoto
      - name: DVC Pull
        run: dvc pull -r dagshub -v --force

      # Ejecutar todo el pipeline
      - name: Reproduce DVC pipeline
        run: dvc repro -v

      # Subir resultados actualizados al remoto
      - name: Push artifacts to DagsHub
        run: dvc push -r dagshub -v

      # Mostrar métrricas en la consola de GitHub Actions
      - name: Show DVC Metrics
        run: dvc metrics show