name: Telco Churn CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure DVC remote credentials
        run: |
          dvc remote modify dagshub access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          dvc remote modify dagshub secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check DVC installation
        run: dvc --version

      - name: DVC Pull
        run: dvc pull -v

      - name: Reproduce DVC pipeline
        run: dvc repro -v

      - name: Push artifacts to DagsHub
        run: dvc push -v

      - name: Show DVC Metrics
        run: dvc metrics show